body {
    font: 16px/1 Helvetica, sans-serif;
}

#photos {
    float: left;
    width: 100%;
}

.photo {
    float: left;
    margin: 0 2px 2px 0;
    overflow: hidden;
    height: 160px;
}

.photo, .photo img {
    min-width: 160px;
    max-width: 240px;
}

span.favorite {
    opacity: 0.4;
    background: black;
    border: black 8px solid;
    border-radius: 8px;
    position: absolute;
    z-index: 2;
    margin: 4px;
}

span.favorite:hover {
    opacity: 0.8;
}

.icon-heart {
    color: red;
}
.icon-heart-empty {
    color: white;
}

